
gen_ai - shopassist/drive-download-20240717T084454Z-001/drive-download-20240717T084807Z-001/Session 2 - ShopAssistAI_Demonstration_Stage_2_Stage3_Stub.ipynb
*.ipynb
.DS_Store
gen_ai - shopassist/.DS_Store
gen_ai - shopassist/drive-download-20240717T084454Z-001/.DS_Store
gen_ai - shopassist/drive-download-20240717T084454Z-001/laptop_data.csv
gen_ai - shopassist/drive-download-20240717T084454Z-001/ShopAssist Reading Material.pdf
gen_ai - shopassist/drive-download-20240717T084454Z-001/system_design.png
gen_ai - shopassist/gemini_API_Key.txt
gen_ai - shopassist/updated_laptop_data.csv
.DS_Store
.DS_Store
.DS_Store
.DS_Store
gen_ai - shopassist/Gemini/gemini_API_Key.txt
